.home__container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}
.home {
  background-color: var(--jet);
  width: 95%;
  display: flex;
  flex-direction: row-reverse;
}

.container_image-home {
  width: 55%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 9rem 0 5rem 0;
}

.image_home {
  width: 65%;
  transition: 0.4s;
  animation: image 2s;
  object-fit: contain;
}

.home_info {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 6rem;
}
.container_text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.2rem;
  text-align: start;
  margin-top: 6rem;
}

.home_text-1 {
  color: var(--white);
  font-size: 3.5rem;
  margin-left: 0.4rem;
  font-weight: bold;
}

.home_text-2 {
  margin-bottom: 1rem;
  font-size: 6rem;
  font-weight: bold;
  color: var(--white);
}

.home_text-3 {
  width: 35rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: start;
  margin: 0 0 2rem 0;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}

.text-type {
  position: relative;
}

.text-type::after {
  width: 100%;
  content: "|";
  font-weight: bold;
  position: absolute;
  right: 0;
  color: var(--beaver);
  background-color: var(--jet);
  animation: typing 3.5s steps(28) alternate infinite;
}
@keyframes typing {
  to {
    width: 0%;
  }
}
.container_parrafo-info {
  display: inline-block;
  text-align: start;
}
.container_parrafo-info p {
  color: var(--light-grey);
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2rem;
}
.container_button {
  display: flex;
}
.cv_button {
  background-color: transparent;
  border-radius: 3rem;
  padding: 0.7rem 1.9rem;
  color: var(--beaver);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 1rem 0 0;
  border: 1px solid var(--beaver);
  cursor: pointer;
  transition: 1s;
}
.cv_button:hover {
  background: #09f6c2;
  color: var(--black);
}
.contact_button {
  display: inline-block;
  background-color: var(--beaver);
  border-radius: 3rem;
  padding: 0.7rem 1.9rem;
  color: var(--jet);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 2rem 1rem;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.contact_button:hover {
  background-color: #fff;
  box-shadow: 0px 2px 5px #949393;
}
.links {
  width: 5%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #191a1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.header__logo{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1; */
  transition: 1s;
}
.header__logo:hover{
  outline: 1px solid #08ab8b;
  cursor: pointer;
}
.header__logo div{
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.links__page{
  display: flex;
  flex-direction: column;
}
.links img {
  width: 3.3rem;
  height: 3.3rem;
  margin: 0 0.5rem;
  margin: 0.7rem 0 0.7rem 0;
  transition: .7s;
  color: var(--beaver);
}

.links img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 3px #0af3b1;
  border-radius: 50%;
}