@use "../../variables/var";

.footer {
  background-color: var.$eerie-black;
  padding: 0 16rem;
  margin-top: 12rem;

  &__container {
    border-top: 1px solid var.$jet;
    width: 100%;
    // margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &--title > a {
      color: var.$tr-color2;
      font-size: 4rem;
      text-decoration: none;
      // letter-spacing: 2px;
      font-weight: bold;
    }

    &--networks {
      display: flex;
      gap: 2rem;
      // margin-top: 2rem;

      & a {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        transition: 0.3s;
        background-color: var.$tr-color1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        & i {
          font-size: 2.5rem;
          color: var.$black;
        }
        &:hover {
          // border: 1px solid var.$beaver;
          transform: scale(1.1);
        }
      }
    }

    &--copy {
      padding-bottom: 4rem;
      // display: flex;
      // justify-content: center;

      & span {
        font-size: 1.3rem;
        letter-spacing: 1px;
      }
      & span:nth-child(1),
      span:nth-child(3) {
        color: #a589ff;
      }
    }
  }
}
