.proyectos {
  background-color: var(--jet);
  width: 100%;
  height: auto;
  padding: 0 1rem 1rem 1rem;
}

.proyectos h1 {
  display: block;
  text-align: center;
  color: var(--white);
  font-size: 2.4rem;
  letter-spacing: .1rem;
  padding: 6rem 0 5rem 0;
}
.cards_container--proyectos{
  width: 100%;
  height: auto;
  padding: 5rem 4rem 5rem 10rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1.63rem;
}
.cards--proyectos{
  width: 43rem;
  height: 23rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* outline: 1px solid #fff; */
}
.container_imgCard--proyectos {
  width: 100%;
  height: 100%;
  border-radius: 12;
  position: relative;
  z-index: 1;
  transition: .5s;
  border-radius: 10px;
  border: .1px solid #0ce19e;
}
.container_imgCard--proyectos>img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.proyectos__cotainer--text{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  bottom: 0;
  border-radius: 10px;
  transform: translateY(20%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 1s;
}

.cards--proyectos:hover:hover .proyectos__cotainer--text {
  transform: translateY(0%);
  opacity: 100%;
  background-color: #00000063;

}
.proyectos__text--container {
  width: 100%;
  height: 70%;
  padding: 1rem;
  font-size: 14px;
  background-color: #000000e0;
  border-radius: 0 0 10px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 0 #0ce19e;
}

.container_btn--proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
a{
  text-decoration: none;
}
.proyectos__btn { 
  background-color: #13ffb400;
  width: 10rem;
  height: 3.3rem;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #0ce19e;
  color: #fff;
  transition: 1s;
  font-weight: bold;
}
.proyectos__btn:hover {
  background-color: #0ce19e;
  color: #000;
  cursor: pointer;
}
.fa-eye, .fa-github{
  font-size: 19px;
  color: #fff;
}