.header {
  background-color: var(--jet);
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 5;
  padding: 0 3rem 0 0;
  opacity: 88%;
}

.nav_menu {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  font-size: 17px;
}
.nav_menu a{
  text-decoration: none;
  color: #fff;
}
.nav_menu a:hover{
  color: #12edaf;
}

