@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background-color: #1d1433;
}

html::-webkit-scrollbar-thumb {
  background-color: #6600ff;
  border-radius: 20px;
}

::selection {
  background-color: #776254;
}

.App {
  background-color: #080216;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container--loader {
  background-color: #1d1433;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transition: all 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: loader 1.5s infinite ease-in-out;
}

.loader {
  color: #6600ff;
  font-size: 13px;
  position: relative;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5rem;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5rem;
}

@keyframes loader {
  0%, 80%, 100% {
    box-shadow: 0 2.5rem 0 -1.3rem;
  }
  40% {
    box-shadow: 0 2.5rem 0 0;
  }
}
.header {
  background-color: #080216;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  font-size: 17px;
}
.header__nav a {
  text-decoration: none;
  color: #ffffff;
}
.header__nav a:hover {
  color: #6600ff;
}

.home {
  width: 100%;
  height: 100dvb;
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
}
.home__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, maxmin(2, 1fr));
}
.home__container--img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__container--img img {
  width: 20rem;
  height: 20rem;
  transition: 0.4s;
  animation: image 2s;
  object-fit: contain;
  border-radius: 100%;
}
.home__container--info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__container--info .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home__container--info .info__text {
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
}
.home__container--info .info__text span {
  font-size: 5rem;
  color: #19ffe4;
  font-family: "Open Sans", sans-serif;
}
.home__container--info .info__work {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  color: rgba(25, 255, 197, 0.8980392157);
  text-decoration: none;
  margin-top: 3rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.home__container--info .info__work i {
  font-size: 14px;
}
.home__container--info .text > p {
  margin-top: 1.6rem;
  color: #dedbdb;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.home__container--info .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 7rem 0 5rem 0;
  gap: 2rem;
}
.home__container--info .buttons__networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home__container--info .buttons__networks--link {
  background-color: #19ffe4;
  width: 4rem;
  height: 4rem;
  color: #13ffef;
  text-decoration: none;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.home__container--info .buttons__networks--link > i {
  cursor: pointer;
  font-size: 2.5rem;
  color: #1a0248;
}
.home__container--info .buttons__networks--link:hover {
  transform: scale(1.1);
}
.home__container--info .buttons__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.home__container--info .buttons__contact--link {
  background-color: #4010b0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3rem;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.home__container--info .buttons__contact--cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  height: max-content;
}
.home__container--info .buttons__contact--cv > i {
  font-size: 12px;
  color: #13ffef;
}

@media screen and (width >= 768px) {
  .home {
    padding: 0 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home__container--img img {
    width: 30rem;
    height: 30rem;
  }
  .home__container--info {
    align-items: start;
  }
  .home__container--info .info__text {
    font-size: 5rem;
  }
  .home__container--info .info span {
    font-size: 8rem;
  }
  .home__container--info .info__work {
    font-size: 2rem;
  }
  .home__container--info .text > p {
    font-size: 2rem;
  }
  .home__container--info .buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .home__container--info .buttons__networks {
    flex-direction: row;
  }
  .home__container--info .buttons__networks--link {
    width: 4.5rem;
    height: 4.5rem;
  }
  .home__container--info .buttons__contact {
    gap: 1rem;
  }
  .home__container--info .buttons__contact--link {
    font-size: 2.5rem;
  }
}
@media screen and (width >= 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home__container--img {
    justify-content: end;
    align-items: center;
  }
  .home__container--img img {
    width: 40rem;
    height: 40rem;
  }
}
@media screen and (width >= 1240px) {
  .home__container--img img {
    width: 50rem;
    height: 50rem;
  }
}
.about {
  background-color: #1d1433;
  width: 100%;
  height: 100vh;
  padding-bottom: 4rem;
}
.about h1 {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  padding-top: 6rem;
}
.about__container {
  display: flex;
  flex-direction: row-reverse;
}
.about__container--info {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 9rem 4rem 0 3rem;
}
.about__container--info .info__title {
  color: #6600ff;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: start;
  letter-spacing: 0.3rem;
}
.about__container--info .info__text {
  color: #daceff;
  text-align: justify;
  text-align: start;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
}
.about__container--img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.about__container--img img {
  width: 50%;
  margin-bottom: 5rem;
  border-bottom: 2px solid #080216;
}

.proyects {
  background-color: #1d1433;
  width: 100%;
  height: auto;
  margin-top: 12rem;
  padding: 16rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}
.proyects h1 {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 5rem;
}
.proyects__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.proyects__container--card {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  background-color: #080216;
  outline: 1px solid #1e067e;
  border-radius: 10px;
}
.proyects__container--card .card__img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.proyects__container--card .card__img > img {
  border-radius: 10px 0 0 0;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.proyects__container--card .card__img--icons {
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.proyects__container--card .card__img--icons img {
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.proyects__container--card .card__container {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.proyects__container--card .card__container--text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.proyects__container--card .card__container--text h2 {
  font-size: 3rem;
  color: rgba(25, 255, 197, 0.8980392157);
}
.proyects__container--card .card__container--text p {
  font-size: 2rem;
  color: #dedbdb;
}
.proyects__container--card .card__container--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.proyects__container--card .card__container--links .links {
  text-decoration: none;
}
.proyects__container--card .card__container--links .links__button {
  width: max-content;
  height: max-content;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem 2.5rem;
  background-color: #240963;
  color: #ffffff;
  transition: 1s;
  font-weight: bold;
  border: none;
}
.proyects__container--card .card__container--links .links__button:hover {
  cursor: pointer;
  background-color: #4010b0;
}
.proyects__container--card .card__container--links .links__button .fa-eye,
.proyects__container--card .card__container--links .links__button .fa-github {
  font-size: 19px;
}

.skills {
  background-color: #080216;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 8rem;
}
.skills h1 {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  padding: 8rem 0 5rem 0;
}
.skills__container {
  display: grid;
  justify-content: center;
  grid-template-columns: 13rem 13rem 13rem 13rem;
  grid-template-rows: 14rem 14rem;
  gap: 3rem;
  margin-top: 2rem;
}
.skills__container--card {
  background-color: #1d1433;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 13rem;
  height: 14rem;
  filter: grayscale(100%);
  border: 1px solid #6600ff;
  transition: all 0.8s;
}
.skills__container--card img {
  margin-top: 0.7rem;
  width: 9rem;
}
.skills__container--card p {
  letter-spacing: 0.1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.7rem;
  color: #ffffff;
  font-size: 1.6rem;
}
.skills__container--card:hover {
  filter: grayscale(0);
}

.contact {
  width: 100%;
  height: auto;
  padding: 16rem;
}
.contact h1 {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  padding: 0 6rem 12rem 6rem;
  font-weight: bold;
}
.contact__container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.contact__container--form {
  width: 45rem;
  height: auto;
  border: 1px solid #6600ff;
  border-radius: 24px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.contact__container--form .form__text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact__container--form .form__text h2 {
  font-size: 2.7rem;
  color: #ffffff;
}
.contact__container--form .form__text p {
  font-size: 1.5rem;
  text-wrap: wrap;
  color: #daceff;
}
.contact__container--form .form__inputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__container--form .form__inputs input,
.contact__container--form .form__inputs textarea {
  background-color: #4537bd;
  width: 100%;
  height: auto;
  border: 1px solid #1e067e;
  color: #ffffff;
  outline: none;
  padding-left: 0.6rem;
  border-radius: 7px;
  font-size: 20px;
}
.contact__container--form .form__inputs input {
  height: 5rem;
}
.contact__container--form .form__inputs input::placeholder {
  color: #d9bcff;
}
.contact__container--form .form__inputs input:focus {
  background-color: #6e5ff3;
}
.contact__container--form .form__inputs textarea {
  padding: 1rem;
}
.contact__container--form .form__inputs textarea:focus {
  background-color: #6e5ff3;
}
.contact__container--form .form__inputs textarea::placeholder {
  color: #d9bcff;
}
.contact__container--form .form__button {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.contact__container--form .form__button button {
  padding: 10px;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.8s;
  background-color: #240963;
  color: #ffffff;
}
.contact__container--form .form__button button:hover {
  cursor: pointer;
  background-color: #4010b0;
}

.footer {
  background-color: #1d1433;
  padding: 0 16rem;
  margin-top: 12rem;
}
.footer__container {
  border-top: 1px solid #080216;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.footer__container--title > a {
  color: #19ffe4;
  font-size: 4rem;
  text-decoration: none;
  font-weight: bold;
}
.footer__container--networks {
  display: flex;
  gap: 2rem;
}
.footer__container--networks a {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  transition: 0.3s;
  background-color: rgba(25, 255, 197, 0.8980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer__container--networks a i {
  font-size: 2.5rem;
  color: #1a0248;
}
.footer__container--networks a:hover {
  transform: scale(1.1);
}
.footer__container--copy {
  padding-bottom: 4rem;
}
.footer__container--copy span {
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.footer__container--copy span:nth-child(1),
.footer__container--copy span:nth-child(3) {
  color: #a589ff;
}

/*# sourceMappingURL=styles.css.map */
