@use "../../../variables/var";

.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  gap: 7rem;

  & h1 {
    display: block;
    text-align: center;
    color: var.$white;
    font-size: 4rem;
    font-weight: bold;
  }

  &__container {
    min-width: 20rem;
    max-width: 50rem;

    &--form {
      width: 100%;
      height: auto;
      border: 1px solid var.$beaver;
      border-radius: 24px;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;

      & .form__text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        & h2 {
          font-size: 2.7rem;
          color: var.$white;
        }
        & p {
          font-size: 1.5rem;
          text-wrap: wrap;
          color: var.$light-grey;
        }
      }

      & .form__inputs {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & input,
        textarea {
          background-color: #4537bd;
          width: 100%;
          height: auto;
          border: 1px solid var.$border;
          color: var.$white;
          outline: none;
          padding-left: 0.6rem;
          border-radius: 7px;
          font-size: 20px;
        }

        & input {
          height: 5rem;

          &::placeholder {
            color: var.$sub-title;
          }

          &:focus {
            background-color: #6e5ff3;
          }
        }

        & textarea {
          padding: 1rem;

          &:focus {
            background-color: #6e5ff3;
          }

          &::placeholder {
            color: var.$sub-title;
          }
        }
      }

      & .form__button {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        & button {
          padding: 10px;
          border-radius: 7px;
          border: none;
          font-weight: bold;
          font-size: 20px;
          transition: all 0.8s;
          background-color: var.$button1;
          color: var.$white;

          &:hover {
            cursor: pointer;
            background-color: var.$button2;
          }
        }
      }
    }
  }
}
