@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$white: #ffffff;
$light-grey: #daceff;
$beaver: #6600ff;
$black: #1a0248;
$eerie-black: #1d1433;
// $eerie-black: #100248;
$jet: #080216;
$text: #be92f8;
$button1: #240963;
$button2: #4010b0;
$title: #ffffff;
$sub-title: #d9bcff;
$border: #1e067e;

$font-title: "Lusitana", serif;
$font-text: "Poppins", sans-serif;
