@media screen and (width >= 768px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      width: 70rem;

      &--img {
        & img {
          width: 30rem;
          height: 30rem;
        }
      }
      &--info {
        align-items: start;

        & .info {
          &__text {
            font-size: 5rem;
          }
          & span {
            font-size: 8rem;
          }
          &__work {
            font-size: 2rem;
          }
        }
        & .text > p {
          font-size: 2rem;
        }

        & .buttons {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          &__networks {
            flex-direction: row;
            &--link {
              width: 4.5rem;
              height: 4.5rem;
            }
          }
          &__contact {
            gap: 2rem;
            &--link {
              width: 15rem;
              height: 5rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
