@media screen and (width >= 1024px) {
  .home {
    &__container {
      width: 90rem;
      grid-template-columns: repeat(2, 1fr);
      &--img {
        justify-content: end;
        align-items: center;

        & img {
          width: 40rem;
          height: 40rem;
        }
      }
    }
  }
}
